body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex; 
    align-items: center; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #555;
    border: none;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #777;
}

nav ul li a:focus {
    outline: none;
}

nav ul li img {
    width: 50px; 
    height: auto; 
    margin-right: 5px; 
    margin-left: 25px; 
  
}
